/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

ion-toolbar {
    --background: #6cb33f;
    /* --background: #6cb33f; */
    --color: white;
}

ion-content {
    --background: #cbcbcb;
}

ion-list-header {
    --background: linear-gradient(90deg, rgba(7, 166, 104, 1) 0%, rgba(11, 91, 59, 1) 81%);
}

ion-progress-bar {
    height: 20px;
}

.toolbar-header {
    --background: rgba(11, 91, 59, 1);
}

/*ion-card, ion-card-content, ion-card-header {*/

/*    --background: #5c5bff !important;*/

/*}*/

/*ion-item {*/

/*  padding-left: 0px;*/

/*}*/

.toolbar-logo {
    padding: 5px;
}

.full-button {
    width: 100% !important;
}

.amount {
    float: right;
}

.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center;
}

.bold-and-centered {
    text-align: center;
}

.bold-and-centered h2 {
    font-weight: bold;
    font-size: 18pt;
}

.row-text {
    font-size: 14px;
}

.progress-tracker-label h3 {
    font-weight: bold;
}

.clickable {
    pointer-events: auto !important;
}

.spinner {
    height: 15px !important;
}

.icon {
    width: 35px;
    height: 35px;
}

.white {
    color: white;
}

.fab-button {
    margin-right: 15px;
    height: 25px;
    width: 25px;
}

.lender-button {
    --border-color: #008752;
    --background: transparent;
    --color: #008752;
    --color-focused: #008752;
}

.arrow-color {
    color: #414141;
}

ion-col {
    --ion-grid-column-padding: 0;
}

.margin-top {
    margin-top: 10px;
}

.white-background {
    background-color: white;
}

.back-button {
    height: 35px;
    width: 35px;
    color: white;
}

.chart-div {
    width: 100%;
}

.no-margin-top {
    margin-top: 0;
    padding-top: 0;
}

.height {
    height: 200px;
}

.social-media-button {
    width: 40px;
    font-size: 32px;
}

ion-icon {
    color: black
}

.social-media-grid {
    --ion-grid-width: 200px;
}

.socila-media-column {
    --ion-grid-column-padding: 0;
    --ion-grid-columns: 6;
}
